.links {
    padding-top: 40px; /* Space for fixed navbar */
}
.img {
    margin-right: 10px; /* Space for fixed navbar */
    float:left;
}

.ads {
    padding-top: 40px;
}

.editButtons{
    padding-top: 40px;
}

.information {
    margin: 10px; /* Space for fixed navbar */
}

.block_links{
    padding-top: 40px;
    margin-top: 10px;
}